# Default ignored files
/shelf/
/workspace.xml
.idea
# Datasource local storage ignored files
/../../../../../../../:\Aram\IT Space LLC\Projects 2021\WEB Java EE (Servlet-Jsp)\JavaEE-EmploymentProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea





